@media (min-width: 1320px) {
	.header-bar-tablet {
		display: none;
	}

	.nav-header .nav-section {
		font-size: 20px;
		padding: 0 20px;
		font-weight: 600;
		text-decoration: none;
		color: #000;
		display: inline-block;
	}

	.nav-header {
	    display: flex;
	    position: absolute;
	    left: 53%;
	    line-height: 64px;
	    transform: translateX(-50%);
	}
}