* {
	margin: 0;
	padding: 0;
}

html {
	font-family: arial
}

-webkit-scrollbar {
  display: none;
}

#header {
	height: 64px;
	width: 100%;
	position: relative;
	box-shadow: 0px 2px #ccc;
}

.nav-header {
	display: flex;
	position: absolute;
	left: 54%;
	line-height: 64px;
	transform: translateX(-50%);

}

.nav-header .nav-section {
	font-size: 20px;
	padding: 0 20px;
	font-weight: 600;
	text-decoration: none;
	color: #000;
	display: inline-block;
}

.nav-header .nav-section:hover {
	color: #ccc;
	text-decoration: underline;
}

.avatar-user {
	display: flex;
	position: absolute;
	right: 50px;
	line-height: 64px;
	cursor: pointer;
}

.avatar-img {

}

.fa-shapes,
.fa-bell,
.fa-user {
	font-size: 30px;
	margin-top: 16px;
}

.fa-shapes {
	margin-right: 30px;
}

.fa-bell {
	margin-right: 30px;
}

.fa-bar {

}

.avatar-img:hover > .nav-avatar {
	display: block;
}

.nav-avatar {
	width: 119px;
    position: absolute;
    list-style-type: none;
    display: none; 
    right: -24px;
    font-size: 15px;
    border: 3px solid #ccc;
    padding: 10px 10px;
    border-radius: 15px;
}

.sub-nav-avatar {
	/*display: inline-block;*/
	border-bottom: 1px solid #ccc;
}

.sub-nav-avatar:hover > a {
	color: #ccc;
	text-decoration: underline;
}

.sub-nav-avatar:last-child {
	/*display: inline-block;*/
	border-bottom: none;

}

.sub-nav-avatar a {
	text-decoration: none;
	color: black;
	font-weight: 600;
}

.header-search {
	display: flex;
	position: absolute;
	left: 15%;
	line-height: 64px;
	transform: translateX(-50%);
}

input {
	padding: 10px 130px 10px 10px;
	border-radius: 10px;
	border-width: 1px;
}

.avatar-menu {

}

.avatar-menu:hover > .nav-menu {
	display: block;
}

.nav-menu {
	display: none;
}


.menu-line {
	position: absolute;
    font-size: 15px;
    border: 3px solid #ccc;
    padding: 10px 10px;
    border-radius: 15px;
    right: 80px;
    width: 372px;

}

.sub-nav-menu {
	padding: 10px 20px;
	border: 3px solid #ccc;
	border-radius: 15px;
	font-weight: 600;
	margin: 0 4px;
	text-decoration: none;
	color: black;
}

.sub-nav-menu:hover {
	background: linear-gradient(to right, pink, violet);
}

.avatar-notice {

}

.avatar-notice:hover > .nav-notice {
	display: block;
}

.nav-notice {
	display: none; 
	height: 400px;
    width: 380px;
    position: absolute;
    list-style-type: none;
    right: 30px;
    font-size: 15px;
    border: 3px solid #ccc;
    padding: 10px 10px;
    border-radius: 15px;
    overflow: scroll;

}

.notice-desc {
	position: absolute;
}

.notice-sec {
	font-size: 20px;
	margin-left: 30px
}

.notice-sec-desc {
	margin-left: 15px;
}

.notice-line {
	display: none;
	margin-top: 190px;
}

.notice-alert {

	margin-top: 75px;
	border-top: 1px solid #ccc;
	padding-bottom: 27px;
}

.notice-alert:last-child {

}

.notice-content {
	font-size: 20px;
}

.notice-details {

}

.notice-time {

}

.notice-alert,
.notice-content,
.notice-details,
.notice-time {
	max-height: 32px;
	color: black;
}

.not-have-account {
	margin-left: 70px;
}

.have-account {
	margin-left: 50px;
}

.have-account,
.not-have-account {
	border: 3px solid #ccc;
	border-radius: 10px;
	padding: 10px;
	text-decoration: none;
	color: black;
	font-weight: 600;
}

.have-account:hover,
.not-have-account:hover {
	background: linear-gradient(to right, pink, violet);
}

.rps {
	padding: 10px 20px;
	border: 3px solid #ccc;
	border-radius: 15px;
	font-weight: 600;
	margin: 0 4px;
	text-decoration: none;
	color: black;
	/*display: none;*/
}

.content-header {
    display: none; 
    font-size: 30px;
    font-weight: 800;
    opacity: 0.5;
}